doctype

html(lang='en')
  head
    
    - var title = "KOYAP"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='static/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/11.png')

    
    .scroll__menu.none
      .container

    
    .right__menu
      .bock__top
        a.close(href='javascript:;')
          img.logo__img(data-src='img/close.svg', alt='logo_black')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
    

    header
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;')
              img.logo__img(data-src='img/logo.svg', alt='logo_black')
              
            .menu
              ul
                li
                  a(href='javascript:;') Testimonials
                li
                  a(href='javascript:;') Why Us
                li
                  a(href='javascript:;') How it Works
                li
                  a(href='javascript:;') Partners
                li
                  a(href='javascript:;') FAQ
                li
                  a(href='javascript:;') About Us
                  
            a.tel(href='javascript:;') 1-800-xxx-xxxx
            
            a.call__mob(href='javascript:;')
              img.call__(data-src='img/call__mob.png', alt='logo_black')
              | Free Call Back

          
    section.section__1
      .container
        .row
          .col.m12.s12.l12.xl12
            .image__left
              img(data-src='img/section__1_ship.svg', alt='challenge')
              
            .image__right
              img(data-src='img/section__1_plane.svg', alt='challenge')

              
          
            h1.title Book Your Favorite Destination <br>and get up to 70% Off!
            p.sub We have helped over 17,849 clients book their dream Vacation.
            
            
            .tab__form

              div.active
                form(method='POST', action='javascript:void(null);')
                  .form


                      ul
                        li
                          .box__tab
                            a.cruise.select(href='javascript:;' data-tab='1') Cruise
                            a.travelling(href='javascript:;' data-tab='2') Flight


                        li.email
                          .block
                            lable Email

                            .form_input
                              span.field
                                input.mail(type='email', name='email', required='', value='', placeholder='Email')

                        li.phone
                          .block
                            lable Phone Number

                            .form_input
                              span.field
                                input.phone(type='text', name='phone', required='', value='', placeholder='Add phone number')

                        li.name
                          .block
                            lable Name

                            .form_input
                              span.field
                                input.phone(type='text', name='phone', required='', value='', placeholder='Add phone number')


                        hr


                        li.destination
                          .block
                            lable Destination

                            .form_input
                              span.field
                                input(type='text', name='destination', required='', value='', placeholder='Add destination')



                        li.sel_50.port
                          .block
                            lable Departure Port

                            .form_input
                              span.field
                                input(type='text', name='destination', required='', value='', placeholder='Add departure port')
                        li.data
                          .block
                            lable Departure date

                            .form_input
                              span.field
                                input(type='date', name='data', required='', value='', placeholder='Add data')

                  button.red(type='submit', name='send') Get a free quote

                
              div
              
                form(method='POST', action='javascript:void(null);')
                  .form
             

                      ul
                        li
                          .box__tab
                            a.cruise.select(href='javascript:;' data-tab='1') Cruise
                            a.travelling(href='javascript:;' data-tab='2') Flight


                        li.email
                          .block
                            lable Email

                            .form_input
                              span.field
                                input.mail(type='email', name='email', required='', value='', placeholder='Email')

                        li.phone
                          .block
                            lable Phone Number

                            .form_input
                              span.field
                                input.phone(type='text', name='phone', required='', value='', placeholder='Add phone number')

                        li.name
                          .block
                            lable Name

                            .form_input
                              span.field
                                input.phone(type='text', name='phone', required='', value='', placeholder='Add phone number')


                        hr


                        li.destination
                          .block
                            lable Destination

                            .form_input
                              span.field
                                input(type='text', name='destination', required='', value='', placeholder='Add destination')



                        li.sel_50.port
                          .block
                            lable Departure Port

                            .form_input
                              span.field
                                input(type='text', name='destination', required='', value='', placeholder='Add departure port')
                        li.data
                          .block
                            lable Departure date

                            .form_input
                              span.field
                                input(type='date', name='data', required='', value='', placeholder='Add data')

                  button.red(type='submit', name='send') Get a free quote
              

              a.challenge(href='javascript:;')
                img(data-src='img/challenge.svg', alt='challenge')
              
      .container
        .row
          .col.m12.s12.l12.xl12
            .image__left
              img(data-src='img/section__1_parrot_2.svg', alt='challenge')
              
            ul.brand
              li
                img(data-src='img/logo__1.svg', alt='challenge')
              li
                img(data-src='img/logo__2.svg', alt='challenge')
              li
                img(data-src='img/logo__3.svg', alt='challenge')
              li
                img(data-src='img/logo__4.svg', alt='challenge')
              li
                img(data-src='img/logo__5.svg', alt='challenge')
              li
                img(data-src='img/logo__6.svg', alt='challenge')
              li
                img(data-src='img/logo__7.svg', alt='challenge')
                
            .image__right
              img(data-src='img/section__1_parrot_1.svg', alt='challenge')



    section.section__2
    
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Testimonials
            
      .row
        .col.m12.s12.l12.xl12
          .testimonials
            div
              .box__padding
                .box__testimonials
                  .box__top
                    .box__img
                      img(data-src='img/section__2_user.png', alt='challenge')

                    .box__content
                      h3.title__ Jennifer P.
                      ul.list
                        li
                          span.austin Austin – New York
                        li
                          span.business Business
                        li
                          span.top Top American First Class Airline
                        li
                          span.time 07.11.22

                  .box__bottom 
                    p Koyap handled everything very smoothly. Your employees were helpful and responsive. Bill and I thankyou for making the dreams of a perfect cruise come true for so many people. Can't wait to book with you again in the future.
            div
              .box__padding
                .box__testimonials
                  .box__top
                    .box__img
                      img(data-src='img/section__2_user.png', alt='challenge')

                    .box__content
                      h3.title__ Jennifer P.
                      ul.list
                        li
                          span.austin Austin – New York
                        li
                          span.business Business
                        li
                          span.top Top American First Class Airline
                        li
                          span.top 07.11.22

                  .box__bottom 
                    p Koyap handled everything very smoothly. Your employees were helpful and responsive. Bill and I thankyou for making the dreams of a perfect cruise come true for so many people. Can't wait to book with you again in the future.
            div
              .box__padding
                .box__testimonials
                  .box__top
                    .box__img
                      img(data-src='img/section__2_user.png', alt='challenge')

                    .box__content
                      h3.title__ Jennifer P.
                      ul.list
                        li
                          span.austin Austin – New York
                        li
                          span.business Business
                        li
                          span.top Top American First Class Airline
                        li
                          span.top 07.11.22

                  .box__bottom 
                    p Koyap handled everything very smoothly. Your employees were helpful and responsive. Bill and I thankyou for making the dreams of a perfect cruise come true for so many people. Can't wait to book with you again in the future.
            div
              .box__padding
                .box__testimonials
                  .box__top
                    .box__img
                      img(data-src='img/section__2_user.png', alt='challenge')

                    .box__content
                      h3.title__ Jennifer P.
                      ul.list
                        li
                          span.austin Austin – New York
                        li
                          span.business Business
                        li
                          span.top Top American First Class Airline
                        li
                          span.time 07.11.22

                  .box__bottom 
                    p Koyap handled everything very smoothly. Your employees were helpful and responsive. Bill and I thankyou for making the dreams of a perfect cruise come true for so many people. Can't wait to book with you again in the future.
            div
              .box__padding
                .box__testimonials
                  .box__top
                    .box__img
                      img(data-src='img/section__2_user.png', alt='challenge')

                    .box__content
                      h3.title__ Jennifer P.
                      ul.list
                        li
                          span.austin Austin – New York
                        li
                          span.business Business
                        li
                          span.top Top American First Class Airline
                        li
                          span.top 07.11.22

                  .box__bottom 
                    p Koyap handled everything very smoothly. Your employees were helpful and responsive. Bill and I thankyou for making the dreams of a perfect cruise come true for so many people. Can't wait to book with you again in the future.
            div
              .box__padding
                .box__testimonials
                  .box__top
                    .box__img
                      img(data-src='img/section__2_user.png', alt='challenge')

                    .box__content
                      h3.title__ Jennifer P.
                      ul.list
                        li
                          span.austin Austin – New York
                        li
                          span.business Business
                        li
                          span.top Top American First Class Airline
                        li
                          span.top 07.11.22

                  .box__bottom 
                    p Koyap handled everything very smoothly. Your employees were helpful and responsive. Bill and I thankyou for making the dreams of a perfect cruise come true for so many people. Can't wait to book with you again in the future.

          a.red__border(href='javascript:;') Show all Testimonials


          
          .box__set
            img.img_1(data-src='img/section__2_top_1.svg', alt='section__2_top_1')
            img.img_2(data-src='img/section__2_top_2.svg', alt='section__2_top_1')
            img.img_3(data-src='img/section__2_top_3.svg', alt='section__2_top_1')
            img.img_4(data-src='img/section__2_top_4.svg', alt='section__2_top_1')
            
          
          
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Why book with us
          
        .row
          .col.m12.s12.l4.xl4
            .box__book
              .box__img
                img(data-src='img/book_1.png', alt='challenge')
              .box__content
                h4.title__ Get secret deals and discounts
                p We have the best Cruise & Flight deals in the world. If you find a cheaper price online, we'll beat it.
                
          .col.m12.s12.l4.xl4
            .box__book
              .box__img
                img(data-src='img/book_2.png', alt='challenge')
              .box__content
                h4.title__ Get secret deals and discounts
                p We have the best Cruise & Flight deals in the world. If you find a cheaper price online, we'll beat it.
                
          .col.m12.s12.l4.xl4
            .box__book
              .box__img
                img(data-src='img/book_3.png', alt='challenge')
              .box__content
                h4.title__ Get secret deals and discounts
                p We have the best Cruise & Flight deals in the world. If you find a cheaper price online, we'll beat it.
                
              
          
      img.bottom__cor(data-src='img/section__2_cor.svg', alt='challenge')
          
          
          
    section.section__3
      .container
        .row
          .col.m12.s12.l12.xl12
            img.fish.right(data-src='img/fish.svg', alt='challenge')
            h2.title How it works
            
        .row
          .col.m12.s12.l6.xl4
            .box__
              h4.title__ Get in touch with an expert
              p Complete the request form OR call to speak to one of our Travel Experts
          .col.m12.s12.l6.xl4
            .box__
              h4.title__ Receive options via phone or email
              p Our Travel agents will contact you to help book your trip
          .col.m12.s12.l6.xl4
            .box__
              h4.title__ Choose and travel 
              p Pick the option that suits you best & get ready for your trip 
              
            
      .countts__
        .container
          .row
            .col.m12.s12.l12.xl12
              img.skat.left(data-src='img/skat-1.svg', alt='challenge')



              h2.title Partner Cruise Lines & Airlines

              h3.title__line Our partner cruises

              .brand
                div
                  .li
                    img(data-src='img/brand__1.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__2.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__3.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__4.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__5.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__6.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__7.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__8.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__9.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__10.svg', alt='challenge')


              h3.title__line Our partner airlines


              img.fish.right(data-src='img/fish.svg', alt='challenge')

              img.fish.left(data-src='img/fish-left.svg', alt='challenge')

              img.fish.left.bottom(data-src='img/fish-left.svg', alt='challenge')

              .brand
                div
                  .li
                    img(data-src='img/brand__11.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__12.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__13.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__14.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__15.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__16.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__17.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__18.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__19.svg', alt='challenge')
                div
                  .li
                    img(data-src='img/brand__20.svg', alt='challenge')




            
            
            
            
            
            
            
            
            
            
          
    section.section__4
      .box__pecypc.desctop__
        img.img__1(data-src='img/pесурс.svg', alt='challenge')
        img.img__2(data-src='img/pесурс.svg', alt='challenge')
        img.img__3(data-src='img/pесурс.svg', alt='challenge')
        img.img__4(data-src='img/pесурс.svg', alt='challenge')
        img.img__5(data-src='img/pесурс.svg', alt='challenge')
      .box__pecypc.mob__
        img.img__1(data-src='img/pесурс__mob.svg', alt='challenge')
        img.img__2(data-src='img/pесурс__mob.svg', alt='challenge')
        img.img__3(data-src='img/pесурс__mob.svg', alt='challenge')
        
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title FAQ

        .row
          .col.m12.s12.l12.xl12
            .tab__bot
              a.tab.active(href='javascript:;'  data-num='1') cRUISE
              a.tab(href='javascript:;' data-num='2') Flight
              
            .tab__content
              .tab_n.active
                ul.list
                  li
                    a.tab(href='javascript:;') Do I need a passport?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.
                  li
                    a.tab(href='javascript:;') Do I need a Visa?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.
 
                  li
                    a.tab(href='javascript:;') Can I cancel my ticket?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

                  li
                    a.tab(href='javascript:;') What if I miss my cruise ship?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

                  li
                    a.tab(href='javascript:;') Can I book tickets online?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

              .tab_n
                ul.list
                  li
                    a.tab(href='javascript:;') Flight Do I need a passport?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.
                  li
                    a.tab(href='javascript:;') Flight Do I need a Visa?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

                  li
                    a.tab(href='javascript:;') Flight Can I cancel my ticket?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

                  li
                    a.tab(href='javascript:;') Flight What if I miss my cruise ship?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

                  li
                    a.tab(href='javascript:;') Flight Can I book tickets online?
                    .content
                      p For US citizens many popular cruise destinations, such as Caribbean, Alaska and Western Mediterranean, do not require visas. But visa might be necessary if you are taking a cruise ship that calls on more exotic destinations. Please talk to one of our support agent for a more nuanced answer.

            
            
            
          
    section.section__5
      .container
        .row
          .col.m12.s12.l6.xl5
            h2.title About us
            
            p We’ve been in the travel industry for three generations and we truly love every part of it. Our passion for travel drives us to deliver the ultimate experience for our clients, be it a cruise to Alaska or a flight to Tanzania, our aim always stays true, to eliminate the hassle of booking so you can look forward to the best part of your journey. No matter what corner of the world you want to explore, we got your back.

          .col.m12.s12.l6.xl7
            .box__img
              img(data-src='img/section__5_frame.svg', alt='challenge')
            
            



    footer
      .container
        .row
          .col.m12.s12.l6.xl7
            .box__img
              img(data-src='img/footer_ship.svg', alt='challenge')
          
          .col.m12.s12.l6.xl5
          
            h2.title Sign up for special prices, frequent discounts, exclusive offers, and other perks!

            form(method='POST', action='javascript:void(null);')
              // Hidden Required Fields
              
              ul
                li
                  label Name
                  .form_input
                    span.field
                      input(type='text', name='name', required='', value='', placeholder='Name')
                li
                  label Email
                  .form_input
                    span.field
                      input.mail(type='email', name='email', required='', value='', placeholder='Email')

              button.red(type='submit', name='send') Sign up


              
      .contan__
        .container
          .row
            .col.m12.s12.l12.xl12
              img.kit.left(data-src='img/kit2.svg', alt='challenge')
              img.kit.right(data-src='img/kit1.svg', alt='challenge')
              
              .logo
                img(data-src='img/logo-footer.svg', alt='challenge')
          
                

    a.call.none(href='javascript:;')
      img(data-src='img/call.svg', alt='call')
      
      
    .cookie
      a.close(href='javascript:;')
        img(data-src='img/close.svg', alt='call')
      .container
        .row
          .col.m12.s12.l12.xl12
            img.img(data-src='img/cookies.svg', alt='call')
            p This website uses cookies to ensure you get the best experience on our website.
              a.learn(href='javascript:;') Learn More
            a.red(href='javascript:;') Accept all
            

              
                  
    a.bot_modal.none(data-fancybox='',  href='#modal-1') Open Modal 1
    // //// MODAL ////
    #modal-1.modal(style='display: none;')
    
      .content_modal.mod_1
      
      
        .box__yallow 
          h3.title Price Challenge
      
        .box__content

          form(method='POST', action='javascript:void(null);')
            // Hidden Required Fields
            
            h3.title Send us a link to the lowest fair you can find online.
            h3.title.red__title We’ll   It!*
            

            .box__img

              h4.title__ Website link
              .form_input
                span.field
                  input(type='url', name='link', required='', value='', placeholder='Paste Link Here')


            .column
              div
                label Name
                .form_input
                  span.field
                    input(type='text', name='name', required='', value='', placeholder='Name')
              div
                label Phone number
                .form_input
                  span.field
                    input.phone(type='text', name='phone', required='', value='', placeholder='Phone number')

            label Email
            .form_input
              span.field
                input.mail(type='email', name='email', required='', value='', placeholder='Email')
                
            .column.rew
              div
                p.info *Does not apply to domestic flights
              div
                button.red(type='submit', name='send') Send
          
          

    a.bot_modal.none(data-fancybox='', data-data-src='#modal-2', href='#modal-2') Open Modal 2
    // //// MODAL ////
    #modal-2.modal(style='display: none;')
      .content_modal.column.mod_2
        .box__img
          img.desc(data-src='img/mod1.svg', alt='challenge')
          img.mob(data-src='img/mod1_mob.svg', alt='challenge')
          
          
        .box__content
          h3.title Call to speak
          p Just send us a link to the price and watch us beat it

          .namber
            p 1-800-xxx-xxxx

          span.or or

          h3.title Request a free callback
          
          p Just send us a link to the price and watch us beat it

          form(method='POST', action='javascript:void(null);')
            // Hidden Required Fields
            label Phone number

            .form_input
              span.field
                input.phone(type='text', name='phone', required='', value='', placeholder='Phone number')


            button.red(type='submit', name='send') Send


    a.bot_modal.none(data-fancybox='', data-data-src='#thx', href='#thx') thx
    // //// MODAL ////
    #thx.modal(style='display: none;')
      .content_modal.thx
        .box__img
          img.desc(data-src='img/thx.svg', alt='challenge')
          img.mob(data-src='img/thx_mob.svg', alt='challenge')
          
        .box__content
          h2.title Thank you!
          p Our team will reach you shortly with further information.

          a.red(href='javascript:;') Back to home


    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      // console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });

        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });

      });

