@mixin wid($size) {
  @if $size ==1500 {
    @media (min-width: 1500px) {
      @content;
    }
  }

  @else if $size ==1200-1499 {
    @media (min-width: 1200px) and (max-width: 1499px) {
      @content;
    }
  }

  @else if $size ==1200 {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if $size ==992-1199 {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  }

  @else if $size ==992-1300 {
    @media (min-width: 992px) and (max-width: 1130px) {
      @content;
    }
  }

  @else if $size ==992 {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $size ==991 {
    @media (max-width: 991px) {
      @content;
    }
  }

  @else if $size ==601-991 {
    @media (min-width: 601px) and (max-width: 991px) {
      @content;
    }
  }

  @else if $size ==600 {
    @media (max-width: 600px) {
      @content;
    }
  }

  @else if $size ==500 {
    @media (max-width: 500px) {
      @content;
    }
  }

  @else if $size ==450 {
    @media (max-width: 450px) {
      @content;
    }
  }

  @else if $size ==400 {
    @media (max-width: 400px) {
      @content;
    }
  }

  @else if $size ==350 {
    @media (max-width: 350px) {
      @content;
    }
  }
}

//default styles of plugin START
#policy li{
  list-style-type:auto !important;
}
.flatpickr-monthDropdown-months{
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  text-overflow: '' !important;
  margin-top: 3px !important;
}
.autocomplete-items {
  position:absolute;
  top:50px;
  left:65px;
  overflow-y: auto;
box-shadow: 0 4px 58px rgba(55, 117, 209, 0.18);
-webkit-box-shadow: 0 4px 58px rgba(55, 117, 209, 0.18);
border-radius: 18px;
  width: 310px;
height: auto;
max-height: 430px;
z-index: 99;
}

.autocomplete-items::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.autocomplete-items {
-ms-overflow-style: none;
/* IE and Edge */
scrollbar-width: none;
}

.autocomplete-items div {
padding: 10px;
cursor: pointer;
background-color: #fff;
border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
background-color: #e9e9e9;
}

input[type="submit"] {
  padding: 0;
}
//default styles of plugin END

#policy li,
#terms li{
  list-style-type:auto !important;
  color: #526278 !important;
}
.autocomplete-active{
  color: #14CDCD !important;
}

// =========================================================== 
// FORMAS 
// =========================================================== 



// ===========================================================
// END ALL INFORMATION
// ===========================================================




//[type=checkbox] {
//  border-radius: 2px;
//  box-shadow: 0px 0px 0px 1px rgba(70, 36, 159, 0.6);
//        
//  &.errore {
//    box-shadow: 0px 0px 0px 1px red;
//  }
//}
//
//
//input[type=checkbox] {
//  cursor: pointer;
//    
//  &:checked {
//    ~ label > .label {
//      display: block;
//    }
//      
//    + label:before {
//      width: 20px;
//      height: 20px;
//      font-size: 35px;
//      color: #000;
//      position: absolute;
//      left: 3px;
//      top: -6px;
//      cursor: pointer;
//      width: 20px;
//      height: 20px;
//      font-size: 35px;
//      color: #000;
//      position: absolute;
//      left: 3px;
//      top: -6px;
//      cursor: pointer;
//      z-index: 11;
//    }
//  }
//}
//
//
//[type=checkbox] {
//  top: 0;
//  left: 0;
//  height: 25px;
//  width: 25px;
//  background-color: #eee;
//}
//
//.form_input, .form_select {
//  display: block;
//  position: relative;
////  padding: 0 4px;
//}
//
//.form_input span.allert, form_select span.allert {
//  text-align: right;
//  top: -22px;
//  position: absolute;
//  float: right;
//  right: 0;
//  color: #ff0000;
//  background: rgba(255, 255, 255, 0.9);
//  padding: 1px 5px;
//  margin-right: 1px;
//}
//
//
//[type=checkbox], [type=radio] {
//  width: 20px;
//  height: 20px;
//  padding: 0 15px 0;
//  background: #e3e3e3;
//  font-size: 18px;
//  margin-bottom: 0px;
//  color: #7f7f7f;
//  border: none;
//  float: left;
//  margin-right: 10px;
//  margin-top: 2px;
//} 
input.wpcf7-not-valid,
input.error {
  color: rgba(231, 29, 54, 1);

  border: 1px solid rgba(231, 29, 54, 1) !important;

  &:focus::placeholder,
  &::placeholder {
    color: rgba(231, 29, 54, 1);

  }
}

input.error,
input[type=checkbox].error~.checkbox-on:after,
option.error {
  //  border-bottom: 2px solid rgba(255, 0, 0, 1) !important;


  //  box-shadow: inset   0 0 25px   rgba(255, 0, 0, .4) !important;

  //   border-radius: 10px !important;
  //   box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5) !important;
  //   text-shadow: -1px -1px #aa3030 !important;

  //  position: relative;



}

.field.border_dashed {
  //    border: 3px dashed rgba(255, 0, 48, 0.61) ;
}

.border_dashed:before {
  //   content: "" ;
  //   display: block ;
  //   border: 3px dashed rgba(255, 0, 48, 0.61) ;
  //   text-shadow: -1px -1px rgba(170, 48, 48, 0.83) !important;



  //    border-radius: 4px;


  //    position: absolute ;


  //    width: 100%;
  //    height: 100%;
  //    pointer-events: none !important;


}

[type=checkbox].error~.allert {
  display: none;
}


//input[type="checkbox"]:checked + label:after, 
//input[type="checkbox"]:not(:checked) + label:after, 
//input[type="radio"]:checked + label:after, 
//input[type="radio"]:not(:checked) + label:after {
//    content: "";
//    position: absolute;
//    -webkit-transition: all 0.2s ease;
//    -moz-transition: all 0.2s ease;
//    -o-transition: all 0.2s ease;
//    transition: all 0.2s ease;
//
//}
//
//input[type="checkbox"]:checked + label:after, 
//input[type="checkbox"]:not(:checked) + label:after {
//    left: 3px;
//    top: 4px;
//    width: 10px;
//    height: 5px;
//    border-radius: 1px;
//    border-left: 4px solid #e145a3;
//    border-bottom: 4px solid #e145a3;
//    -webkit-transform: rotate(-45deg);
//    -moz-transform: rotate(-45deg);
//    -o-transform: rotate(-45deg);
//    -ms-transform: rotate(-45deg);
//    transform: rotate(-45deg);
//}
//
//input[type="radio"]:checked + label:after, 
//input[type="radio"]:not(:checked) + label:after {
//    left: 5px;
//    top: 5px;
//    width: 10px;
//    height: 10px;
//    border-radius: 100%;
//    background-color: #e145a3;
//}


// LABEL ===========================================================

//label {
//  &.margin-bottom {
//    margin-bottom: 5px !important;
//  }
//
//  &.checkbox-on {
//    cursor: pointer;
//  }
//}
//
//label {
//  position: relative;
//  display: block;
//
//  &:after {
//    content: "";
//    display: block;
//    float: left;
//    margin-right: 10px;
//    margin-top: 1px;
//    width: 20px;
//    height: 20px;
//    cursor: pointer;
//    background: #fff;
//    position: absolute;
//    top: 0;
//    left: 0;
//    border: 1px solid rgba(70, 36, 159, 0.6);
//    box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.08);
//    border-radius: 3px;
//  }
//
//  &.errore:after {
//    content: "";
//    display: block;
//    float: left;
//    margin-right: 10px;
//    margin-top: 1px;
//    width: 20px;
//    height: 20px;
//    cursor: pointer;
//    background: #fff;
//    position: absolute;
//    top: 0;
//    left: 0;
//    border: 1px solid #ff0000;
//    border-radius: 3px;
//  }
//}

select {
  color: #263954;

  font: 400 16px/1.2em var(--i);
  // color: #14cdcd;

  &::placeholder {
    //    text-shadow: 0 0 15px rgba(22, 5, 74, 0.51);
    //     color: #263954;
    //    transition: opacity 0.3s ease;
    //   font: 400 14px/1.2em var(--i);
  }

  &:focus::placeholder {
    //     color: #263954;
    //    transition: opacity 0.3s ease;
    //      font: 400 14px/1.2em var(--i);
  }





  border: none;
  border: 1px solid #E9F0FB;
  border-radius: 8px;


  display: block;
  width: 100%;
  height: 100%;



  @include wid(992) {
    max-height: 64px;
    padding: 20px 20px 20px 64px;
  }

  @include wid(601-991) {
    max-height: 64px;
    padding: 20px 20px 20px 64px;
  }

  @include wid(600) {
    max-height: 64px;
    padding: 15px 20px 15px 64px;
  }



  background-color: #FFFFFF;
  background-image: transparent;


  transition: all .4s ease;
  box-sizing: border-box;
  outline: none;








  &::-ms-expand {
    /* for IE 11 */
    display: none;
  }

  //    margin-bottom: 20px;
  //    padding: 11px 15px;
  //    appearance: none;
  //    border: none;
  //    border: 0px solid transparent;
  //    
  //    border: none;
  //    border: 3px solid #FFFFFF;
  //    border-radius: 15px;
  //    display: block;
  //    width: 100%;
  //  
  //    height: 100%;
  //    max-height: 48px;
  //
  //    background-color: transparent;
  //    background-image: transparent;
  //    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  //    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  //    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  //    box-sizing: border-box;
  //    outline: none;

  //    box-shadow: 0 0 0 3px #dce4f0 !important;

  &:focus {
    //           color: #fff !important;
    //	
    //        font: 100 16px/1.3em Roboto;
  }

  &[disabled],
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    color: #303030 !important;
    transition: opacity 0.3s ease;

    //      box-shadow: 0 10px 20px #dce4f0;
  }

  // we use invalid like a placeholder
  // 2019-03-05 added not selector for firefox and ie
  &:not(:focus):invalid {
    //       text-shadow: 0 0 15px rgba(22, 5, 74, 0.51);
    //      color: #f00;


    //      color: #303030 !important;
    //      transition: opacity 0.3s ease;

    //      box-shadow: 0 10px 20px #dce4f0; 

  }


  &::placeholder {

    //       color: #303030 !important;
    //      transition: opacity 0.3s ease;

    //      box-shadow: 0 10px 20px #dce4f0;
  }



  &:active {
    //          color: #fff !important;

    //  font: 100 16px/1.3em Roboto;
    //      transition: opacity 0.3s ease;

    //      box-shadow: 0 10px 20px #dce4f0;
  }

  &:hover {
    color: #000;
    //		box-shadow: 0 0 10px #000;

  }


  & option {
    border: none;
    // width: 100%;
    // height: 100%;
    // max-height: 35px;

    // background-color: #c0c0c0;

    box-sizing: border-box;
    outline: none;



    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;

  }

  & option:hover {}

  &:focus option {
    //		position:relative;
    // pointer-events:all;


  }
}



input:-internal-autofill-selected,
input[data-autocompleted],
input:-internal-autofill-selected:hover,
input:-internal-autofill-selected:focus,
input:-internal-autofill-previewed,
input:-internal-autofill-previewed:hover,
input:-internal-autofill-previewed:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-box-shadow: transparent;
  transition: transparent;
  -webkit-background-clip: text;

  // background: transparent;

  background-color: transparent!important;
  // background-image: none !important;
}

// INPUT ===========================================================

input {
  margin-bottom: 10px;
  color: #263954;

  font: 400 16px/1.2em var(--i);
  color: #14cdcd;

  &::placeholder {
    //    text-shadow: 0 0 15px rgba(22, 5, 74, 0.51);
    color: #263954;
    transition: opacity 0.3s ease;
    font: 400 14px/1.2em var(--i);
  }

  &:focus::placeholder {
    color: #263954;
    transition: opacity 0.3s ease;
    font: 400 14px/1.2em var(--i);
  }

  border: none;
  border: 1px solid #E9F0FB;
  border-radius: 8px;


  display: block;
  width: 100%;
  height: 100%;



  @include wid(992) {
    max-height: 64px;
    padding: 20px 20px 20px 64px;
  }

  @include wid(601-991) {
    max-height: 64px;
    padding: 20px 20px 20px 64px;
  }

  @include wid(600) {
    max-height: 49px;
    padding: 15px 20px 15px 64px;
  }



  background-color: #FFFFFF;
  background-image: transparent;


  transition: border-color ease-in-out 0.15s,
  box-shadow ease-in-out 0.15s,
  -webkit-box-shadow ease-in-out 0.15s;
  box-sizing: border-box;
  outline: none;
}


.field {
  position: relative;
  display: flex;
  align-items: center;
}

.fancybox-content {
  .field {
    display: block;
  }
}

.email,
.mail,
.phone,
.name,
.destination,
.data,
.from,
.to,
.port,
.link,
.clines {
  background-color: #ffffff;
  padding-left: 64px;

  &:focus,
  &:hover {
    & + .input-icon {
      background-image: url(../img/email_2.svg);
    }
  }

  &.error {
    & + .input-icon {
      background-image: url(../img/email_3.svg);
    }
  }

  & + .input-icon {
    background-image: url(../img/email_1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    left: 20px;
    top: calc(50% - 12px);
    transition: background-image .4s ease;
  }
}
.phone {
  &:focus,
  &:hover {
    & + .input-icon {
      background-image: url(../img/phone_2.svg);
    }
  }

  &.error {
    & + .input-icon {
      background-image: url(../img/phone_3.svg);
    }
  }

  & + .input-icon {
    background-image: url(../img/phone_1.svg);
  }
}
.name {
  &:focus,
  &:hover {
    & + .input-icon {
      background-image: url(../img/name_2.svg);
    }
  }

  &.error {
    & + .input-icon {
      background-image: url(../img/name_3.svg);
    }
  }

  & + .input-icon {
    background-image: url(../img/name_1.svg);
  }
}
.destination {
  &:focus,
  &:hover {
    & + .input-icon {
      background-image: url(../img/destination_2.svg);
    }
  }

  &.error {
    & + .input-icon {
      background-image: url(../img/destination_3.svg);
    }
  }

  & + .input-icon {
    background-image: url(../img/destination_1.svg);

  }
}
.data {
  &:focus,
  &:hover {
    & + .input-icon {
      background-image: url(../img/data_2.svg);
    }
  }

  &.error {
    & + .input-icon {
      background-image: url(../img/data_3.svg);
    }
  }

  & + .input-icon {
    background-image: url(../img/data_1.svg);
  }
}
.from {
  &:focus,
  &:hover {
    & + .input-icon {
      background-image: url(../img/from_2.svg);
    }
  }

  &.error {
    & + .input-icon {
      background-image: url(../img/from_3.svg);
    }
  }

  & + .input-icon {
    background-image: url(../img/from_1.svg);
  }
}
.to {
  &:focus,
  &:hover {
    & + .input-icon {
      background-image: url(../img/to_2.svg);
    }
  }

  &.error {
    & + .input-icon {
      background-image: url(../img/to_3.svg);
    }
  }

  & + .input-icon {
    background-image: url(../img/to_1.svg);
  }
}
.port {
  &:focus,
  &:hover {
    & + .input-icon {
      background-image: url(../img/port_2.svg);
    }
  }

  &.error {
    & + .input-icon {
      background-image: url(../img/port_3.svg);
    }
  }

  & + .input-icon {
    background-image: url(../img/port_1.svg);
  }
}
.link {
  &:focus,
  &:hover {
    & + .input-icon {
      background-image: url(../img/link_2.svg);
    }
  }

  &.error {
    & + .input-icon {
      background-image: url(../img/link_3.svg);
    }
  }

  & + .input-icon {
    background-image: url(../img/link_1.svg);
  }
}
.clines {
  &:focus,
  &:hover {
    & + .input-icon {
      background-image: url(../img/clines_2.svg);
    }
  }

  &.error {
    & + .input-icon {
      background-image: url(../img/clines_3.svg);
    }
  }

  & + .input-icon {
    background-image: url(../img/clines_1.svg);
  }
}


// TEXTAREA ===========================================================

//textarea {
//    margin-bottom: 20px;
//  width: 100%;
//  height: 76px;
//  padding: 16px 15px 16px 0;
//  background: transparent;
//  box-sizing: border-box;
//  border-radius: 0;
//  
//    border-bottom: 2px solid #082640;
//
//
//
//
//  font: 600 18px/1.5em $fl;
//
//  &::placeholder {
////    text-shadow: 0 0 15px rgba(22, 5, 74, 0.51);
//      color: rgba(121, 121, 121, 1) !important;
//    transition: opacity 0.3s ease;
// 
//  }
//
//  &:focus::placeholder {
//  color: #000 !important;
//    transition: opacity 0.3s ease;
//  }
//}
